<%= form_with model: @task, url: project_tasks_path(@project), local: true do |f| %>

  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="form-group">
    <%= f.label :name, class: 'control-label' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :deadline, class: 'control-label' %>
    <%= f.date_field :deadline, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :pic, class: 'control-label' %>
    <%= f.select(:pic, options_for_select(user_info_from(@members))) %>
  </div>

  <div class="form-group">
    <%= f.label :content, class: 'control-label' %>
    <%= f.text_field :content, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :file, class: 'control-label' %>
  </div>

  <div class="form-group">
    <%= f.label :tag, class: 'control-label' %>
  </div>

  <div class="form-group">
    <%= f.label :priority, class: 'control-label' %>
    <%= f.select(:priority, [ ['Low', 0], ['Medium', 1], ['High', 2] ]) %>
  </div>

  <div class="form-group">
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>
<% end %>