<footer>
	<small>
		<%= link_to "youKnow", "#" %>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><%= link_to "Github", 'https://github.com/otegami/youKnow' %></li>
		</ul>
	</nav>
</footer>